<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Гэмблинг</title>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
   <link href="/css/style.css" rel="stylesheet" />
   <link href="/fonts/stylesheet.css" rel="stylesheet" />
</head>

<body>
   <header>
      <div class="burger">---</div>
      <h1>
         <a href="/" class="header__logo">ГЭМБЛИНГ - на языке богатых</a>
      </h1>
      <div class="user-icon">
         <a href="/account"><img src="images/LK-logo.png" alt="ЛК"></a>
      </div>
   </header>
   <div class="container container__index">
      <!-- Проверяем, авторизован ли пользователь -->
      <% if (user) { %>
         <!-- Личный кабинет -->
         <h2>Добро пожаловать, <%= user.username %>!</h2>
         <p>Здесь будет информация о вашем аккаунте.</p>
         
         <% if (selectedSkin) { %>
            <!-- Отображаем информацию о выбранном скине -->
            <h3>Вы выбили скин!</h3>
            <div class="skin-info">
               <img src="<%= selectedSkin.img %>" alt="<%= selectedSkin.title %>" />
               <p>Название: <%= selectedSkin.name %></p>
               <p>Оружие: <%= selectedSkin.title %></p>
               <p>Цена: <%= selectedSkin.price %></p>
               <p>Редкость: <%= selectedSkin.rarity %></p>
            </div>
         <% } else { %>
            <p>Вы ещё не выбрали скин. Пройдите в рулетку и выбейте свой скин!</p>
         <% } %>
         
         <a href="/logout">Выход</a>
      <% } else { %>
         <!-- Форма логина -->
         <div id="login-form" class="form-section">
            <h2>Авторизация</h2>
            <form action="/login" method="POST">
               <input type="text" name="username" placeholder="Логин" required />
               <input type="password" name="password" placeholder="Пароль" required />
               <button type="submit">Войти</button>
            </form>
            <button id="switch-to-register">Нет аккаунта?</button>
         </div>

         <!-- Форма регистрации -->
         <div id="register-form" class="form-section" style="display: none;">
            <h2>Регистрация</h2>
            <form action="/register" method="POST">
               <input type="text" name="username" placeholder="Логин" required />
               <input type="password" name="password" placeholder="Пароль" required />
               <button type="submit">Зарегистрироваться</button>
            </form>
            <button id="switch-to-login">Уже есть аккаунт?</button>
         </div>

         <script src="/js/account.js"></script>
      <% } %>
   </div>
</body>

</html>
